/include/ "system-conf.dtsi"
/ {
};

/* SD */
&sdhci1 {
	disable-wp;
	no-1-8-v;
};

/* USB  */
&dwc3_0 {
    status = "okay";
    dr_mode = "host";
};

&gem3 {
	status = "okay";
	local-mac-address = [00 0a 35 00 02 90];
};

/*
&i2c1 {
    lm75@48 {
        compatible = "lm75";
        reg = <0x48>;
        status = "okay";
    };
};
*/


